/*
* 小方法
*
*/ 
.position-full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.placeholder-color(@color) {
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: @color;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: @color;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: @color;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: @color;
  }
}